section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.trending {
	width: 100vw;
	flex-wrap: nowrap;
	overflow: scroll;
	flex-direction: row;
}

.recommended {
	width: 100vw;
	flex-wrap: wrap;
	flex: row;
	align-items: flex-start;
	justify-content: flex-start;
}
