section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
}

.trending {
	width: 100vw;
	height: fit-content;
	flex-wrap: nowrap;
	flex-direction: row;
	height: fit-content;
	overflow-x: auto;
}

.recommended {
	flex-direction: row;
	width: 100vw;
	height: fit-content;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
